<center> <img src="logo_ifba.jpg" alt="jpg_python" width="100" height=""> </center>
<br><br>
<center> <img src="logo_coext.jpg" alt="jpg_python" width="200" height=""> </center>
<br><br>
<center><div style="text-align:center">    <a href="https://colab.research.google.com/github/ProfAllanIFBA/Curso_Python_Com_Jupyter_Notebook/blob/main/Capitulo022_Manipulando_Dados_Com_Pandas/Capitulo022_Manipulando_Dados_Com_Pandas.ipynb">Link Colab</a> 
</div><br><br></center>
<div align="center"><span style="font-size: 26px;"><strong>Python Com Jupyter Notebook</strong></span></div><br><br>
<center> <img src="python_gif.gif" alt="gif_python" width="80"> </center>

Este material apresenta uma explicação detalhada sobre o uso do software de programação em Python chamado Jupyter Notebook, com foco na análise de dados. Abordaremos desde estruturas básicas, como listas e dicionários, até estruturas mais complexas voltadas para a análise de dados, como pandas e seaborn, além de ferramentas destinadas à inteligência artificial.


<font color='red'> <u>Este é um material de uso público e totalmente gratuito</u>. Contudo, eventuais edições são de responsabilidade de quem as fizer. </font>

Você pode ajudar a melhorar este material!

Contato e Sugestões: allansoares@ifba.edu.br.

[**Equipe Executora**](https://github.com/Allanifba/Curso_Python_Com_Jupyter_Notebook/blob/main/Capitulo000_Equipe/Capitulo000_Equipe.ipynb)

### <center> <font color='red'> Vídeo Aulas <img src="youtube.gif" alt="jpg_python" width="100" height=""> </font> </center>

[Biblioteca Pandas no Python](https://youtu.be/6HWRFFd8FXo)

[Analisando um DataFrame com a Função Describe no Python](https://youtu.be/8NNKhidLbmE)

[Criando e Analisando SubDataFrame no Python](https://youtu.be/IsObCg_SQE0)

[Análise de DataFrames Utilizando Operadores Booleanos no Python](https://youtu.be/2vzyxITl3n4)

[Agrupamento de Dados Utilizando Group By no Python](https://youtu.be/ohSmcBwJfuo)

[Mudança de Dados Com a Função replace no Python](https://youtu.be/jd7Aqpno6Bs)

[Exibindo e Alterando Dados em Um DataFrame no Python](https://youtu.be/61snhOTkqUo)

[Métodos e Recursos Para Trabalhar com Dados Usando Pandas no Python - Parte 1](https://youtu.be/BKo0N015xNc)

<div style="border: 2px solid black; padding: 10px; width: 100%; background-color: lightgray; display: flex; align-items: center;">
    <h1 style="color: red; text-align: center; margin: auto;">
        Capítulo 22 - Manipulando Dados Com Pandas
    </h1>
</div>

<font color='red'></font>
<a href=""></a>

<u>Pandas</u>, que é um acrônimo para Panel Data, é uma biblioteca de software criada para manipulação e análise de dados em Python. Ela fornece estruturas de dados de alto desempenho e fáceis de usar, como as DataFrames, que são essencialmente tabelas bidimensionais, e as Series, que são arrays unidimensionais. Pandas é extremamente útil quando os dados a serem analisados estão em formatos tabulares ou estruturados, como CSV, Excel ou bancos de dados SQL, pois fornece uma interface intuitiva e poderosa para manipulação e operação com esses tipos de dados.

## <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 22px;"><strong>22.1 Construindo e Manipulando Um DataFrame</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.1.1 Instalação da Biblioteca Pandas</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

In [ ]:
# Instalando a biblioteca pandas
!pip install pandas

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.1.2 Transformando Um Dicionário em Um Data Frame</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

Veremos a seguir como transformarmos dados em um formato de dicionário em um dataframe. Essa conversão é útil quando queremos analisar e manipular os dados de forma tabular, aplicar operações estatísticas e explorar diferentes funcionalidades oferecidas pelo pandas.

#### *Exemplo: Visualização pandas de um dicionário*

In [ ]:
# Importando a biblioteca pandas
import pandas as pd

In [ ]:
# Dicionário com modelos de carros e alguns dados
carros = {'Modelo': ['Fusca', 'Gol', 'Uno', 'Celta', 'Palio'],
          'Ano': [2000, 2004, 2006, 2010, 2013], 
          'Quilometragem': [150000, 120000, 110000, 80000, 60000], 
          'Preço': [5000, 10000, 12000, 15000, 20000]}

In [ ]:
# Impressão do dicionário em formato padrão
print(carros)

In [ ]:
# Exibiçãoo do dicionário em formato padrão
carros

In [ ]:
# Contruindo a tabela associada aos carros
tabela_carros = pd.DataFrame(carros)

In [ ]:
# Exibindo o data frame
tabela_carros

In [ ]:
# Impressão do data frame usando o comando print
print(tabela_carros)

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.1.3 Exibindo Elementos de Um Data Frame</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### *Exemplo 1: Consultando chaves, valores e tipos de dados de um data frame*

In [ ]:
# Importando a biblioteca pandas
import pandas as pd

# Dicionário com modelos de carros e alguns dados
carros = {'Modelo': ['Fusca', 'Gol', 'Uno', 'Celta', 'Palio'], 
         'Ano': [2000, 2004, 2006, 2010, 2013], 
         'Quilometragem': [150000, 120000, 110000, 80000, 60000], 
         'Preço': [5000, 10000, 12000, 15000, 20000]}

# Contruindo a tabela associada aos carros
tabela_carros = pd.DataFrame(carros)

# Exibindo o data frame
tabela_carros

In [ ]:
# Acessando os valores do dataframe
tabela_carros.values

In [ ]:
# Obtendo os tipos de dados de cada coluna do dataframe
tabela_carros.dtypes

In [ ]:
# Obtendo os nomes das colunas do dataframe
tabela_carros.columns

In [ ]:
print(list(tabela_carros.columns))

#### *Exemplo 2: Exibindo e reordenando de colunas de um data frame*

In [ ]:
# Importando a biblioteca pandas
import pandas as pd

# Dicionário com modelos de carros e alguns dados
carros = {'Modelo': ['Fusca', 'Gol', 'Uno', 'Celta', 'Palio'], 
         'Ano': [2000, 2004, 2006, 2010, 2013], 
         'Quilometragem': [150000, 120000, 110000, 80000, 60000], 
         'Preço': [5000, 10000, 12000, 15000, 20000]}

# Contruindo a tabela associada aos carros
tabela_carros = pd.DataFrame(carros)

In [ ]:
# Exibindo apenas as colunas 'Modelo' e 'Ano'
tabela_carros[['Modelo', 'Preço']]

In [ ]:
# Reordenando colunas
tabela_carros[['Modelo', 'Preço', 'Quilometragem', 'Ano']]

#### *Exemplo 3: Exibindo linhas de um data frame*

In [ ]:
import pandas as pd

# Dicionário com modelos de carros e alguns dados
carros = {'Modelo': ['Fusca', 'Gol', 'Uno', 'Celta', 'Palio'], 
         'Ano': [2000, 2004, 2006, 2010, 2013], 
         'Quilometragem': [150000, 120000, 110000, 80000, 60000], 
         'Preço': [5000, 10000, 12000, 15000, 20000]}

# Contruindo a tabela associada aos carros
tabela_carros = pd.DataFrame(carros)

In [ ]:
# Exibindo todo o data frame
tabela_carros

In [ ]:
# Exibindo os dados referentes a uma linha

linha = tabela_carros.iloc[1]

pd.DataFrame(linha)

In [ ]:
# Exibindo algumas linhas do data frame
tabela_carros[1:4]

In [ ]:
# Obtendo os índices do dataframe
tabela_carros.index

In [ ]:
# Filtrando o dataframe pelo índice
tabela_carros.filter(items=[2], axis=0)

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.1.4 Editando Um Data Frame</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### *Exemplo: Acrescentando novas colunas em um datraframe*

In [ ]:
import pandas as pd

# Dicionário com modelos de carros e alguns dados
carros = {
    'Modelo': ['Fusca', 'Gol', 'Uno', 'Celta', 'Palio'],
    'Ano': [2000, 2004, 2006, 2010, 2013],
    'Quilometragem': [150000, 120000, 110000, 80000, 60000],
    'Preço': [5000, 10000, 12000, 15000, 20000],
    'Cor': ['Branco', 'Prata', 'Vermelho', 'Azul', 'Preto'],
    'Combustível': ['Gasolina', 'Flex', 'Álcool', 'Flex', 'Flex']}

# Contruindo a tabela associada aos carros
tabela_carros = pd.DataFrame(carros)

In [ ]:
# Exibindo o data frame
tabela_carros

In [ ]:
# Criando outro dataframe com os mesmo dados anteriores mais um novo atributo 'Cor'
tabela_carros = pd.DataFrame(carros, 
                columns = [ 'Modelo', 'Preço', 'Quilometragem','Cor',  'Ano'])

In [ ]:
# Inserindo as cores relacionadas ao atributo 'Cor'
tabela_carros['Cor'] = ['Preto', 'Azul', 'Vermelho', 'Prata', 'Branco']

In [ ]:
# Exibindo o data frame atualizado com o novo atributo 'Cor'
tabela_carros

In [ ]:
# Mudando um dado cor para '-'
tabela_carros['Cor'] = ['Preto', 'Azul', 'Vermelho', 'Prata', '-']

In [ ]:
# Exibindo o data frame atualizado com a cor atualizada de 'Branco' para '-'(cor não especificada)
tabela_carros

## <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 22px;"><strong>22.2 Analisando Dados em Um Data Frame</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.2.1 Analisando Dados em Um Data Frame Com a Função describe()</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

A função <u>describe()</u> do pandas é uma ferramenta poderosa para fornecer estatísticas descritivas sobre um DataFrame. Ela calcula várias medidas estatísticas resumidas, incluindo contagem, média, desvio padrão, valores mínimo e máximo e quartis.

#### *Exemplo 1: Exemplo básico*

In [ ]:
# Importando a biblioteca pandas
import pandas as pd

# Dicionário com modelos de carros e alguns dados
carros = {'Modelo': ['Fusca', 'Gol', 'Uno', 'Celta', 'Palio'], 
         'Ano': [2000, 2004, 2006, 2010, 2013], 
         'Quilometragem': [150000, 120000, 110000, 80000, 60000], 
         'Preço': [5000, 10000, 12000, 15000, 20000]}

# Contruindo a tabela associada aos carros
tabela_carros = pd.DataFrame(carros)

# Exibindo o data frame
tabela_carros

In [ ]:
# Aplicando a função describe() no rótulo 'Preço'
preco_descricao = tabela_carros['Preço'].describe()
pd.DataFrame(preco_descricao)

In [ ]:
# Aplicando a função describe() no rótulo 'Quilometragem'
quilometragem_descricao = tabela_carros['Quilometragem'].describe()
pd.DataFrame(quilometragem_descricao)

#### *Exemplo 2: Visualizando dados em formato csv extraídos da net usando pandas*

Os dados do presente exemplo ("Automobile.csv") encontram-se disponíveis em https://www.kaggle.com/datasets/tawfikelmetwally/automobile-dataset. Caso ele já esteja no mesma pasta que este arquivo não recisa baixar.

In [ ]:
# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

In [ ]:
# Exibindo algumas linhas do arquivo Automobile.csv
tabela_auto.head()

In [ ]:
# Aplicando a função describe() aos dados do arquivo Automobile.csv
tabela_auto.describe()

In [ ]:
# Configurar o número máximo de linhas a serem exibidas
pd.set_option('display.max_rows', None)
tabela_auto.head(398)

#### *Exemplo 3: Obtendo o valor mais frequente de um rótulo (moda)*

A <u>moda</u> é um conceito estatístico que representa o valor ou valores que ocorrem com maior frequência em um conjunto de dados. Em outras palavras, a moda é o valor mais comum ou popular em um conjunto de observações. É uma medida de tendência central que complementa outras medidas como média e mediana.

In [ ]:
# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)


# Lendo n linhas do arquivo Automobile
tabela_auto.head(398)

In [ ]:
# Aplicando a função describe() somente ao rótulo 'cylinders'
cylinders = tabela_auto['cylinders'].describe()
pd.DataFrame(cylinders)

In [ ]:
# Exibindo as quantidades de cilindros de cada tipo
quant_cylinders = tabela_auto['cylinders'].value_counts()
pd.DataFrame(quant_cylinders)

In [ ]:
# Extraímos a quantidade de cilindros mais frequente (moda)
moda_cylinders = tabela_auto['cylinders'].value_counts().index[0]
print(moda_cylinders)

In [ ]:
# Extraímos a segunda maior quantidade de cilindros mais frequente
moda_cylinders = tabela_auto['cylinders'].value_counts().index[2]
print(moda_cylinders)

*Note que a moda pode não ser tão representativa quanto outras medidas de tendência central, como a média e a mediana, especialmente em distribuições assimétricas ou quando há valores extremos. É importante ter em mente que a moda é sensível à frequência dos valores, mas não leva em consideração a magnitude dos mesmos. Portanto, é essencial avaliar o contexto e os objetivos da análise estatística ao escolher a medida mais adequada de tendência central.*

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.2.2 Criando e Analisando Subdataframes</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

Podemos criar subdataframes a partir de um dataframe original para extrair e trabalhar com partes específicas dos dados. Essa abordagem é útil quando desejamos segmentar o conjunto de dados com base em determinados critérios ou filtrar apenas as informações relevantes para uma análise específica.

#### *Exemplo 1: Filtrando linhas com ocorrências de determinado valor de um rótulo*

In [ ]:
# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)


# Lendo n linhas do arquivo Automobile
tabela_auto.head(398)

In [ ]:
# Procurando um valor específico de 'horsepower' (saída booleana)
tabela_auto['horsepower'].isin([150.0])

In [ ]:
# Procurando linhas contendo um valor específico de 'horsepower'
tabela_auto[tabela_auto['horsepower'].isin([150.0])]

In [ ]:
# Procurando linhas contendo dois valores específicos de 'horsepower'
tabela_auto[tabela_auto['horsepower'].isin([150.0,170.0])]

In [ ]:
# Exibindo as 15 primeiras linhas contendo dois valores específicos de 'horsepower'
tabela_auto[tabela_auto['horsepower'].isin([150.0,170.0])][:15]

In [ ]:
# Exibindo da linha 6 à linha 15 contendo dois valores específicos de 'horsepower'
tabela_auto[tabela_auto['horsepower'].isin([150.0,170.0])][5:15]

#### *Exemplo 2: Filtando linhas por intervalo de dados*

In [ ]:
# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)


# Lendo n linhas do arquivo Automobile
tabela_auto.head(398)

In [ ]:
# Aplicando a função describe() somente ao rótulo 'cylinders'
acceleration = tabela_auto['acceleration'].describe()
pd.DataFrame(acceleration)

In [ ]:
# Geramos um novo dataframe apenas com o intervalo de aceleração entre 10.0 e 12.0
tabela_auto2 = tabela_auto.query('10.0 < acceleration < 12.0')

In [ ]:
pd.DataFrame(tabela_auto2)

In [ ]:
# Aplicando a função describe ao rótulo 'mpg' da 'tabela_auto2'
pd.DataFrame(tabela_auto2['mpg'].describe())

In [ ]:
# Gerando um subdataframe a partir da 'tabela_auto2' tal que displacement < 350
tabela_auto3 = tabela_auto2.query('displacement < 350')

In [ ]:
pd.DataFrame(tabela_auto3)

In [ ]:
# Aplicando a função describe ao rótulo 'mpg' da 'tabela_auto3'
pd.DataFrame(tabela_auto3['mpg'].describe())

#### *Exemplo 3: Filtrando um dataframe por string*

In [ ]:
# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)


# Lendo n linhas do arquivo Automobile
tabela_auto.head(398)

In [ ]:
# Filtramos o dataframe pela coluna origin com valores que iniciam com as letras 'usa'
tabela_auto[tabela_auto.origin.str.startswith('usa')]

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.2.3 Análise Envolvendo Operadores Booleanos</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### *Exemplo 1: Filtragem booleana envolvendo valores numéricos*

In [ ]:
# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)


# Lendo n linhas do arquivo Automobile
tabela_auto.head(398)

In [ ]:
# Exibindo os n primeiros carros de 4 cilindros ou 150 cavalos de potência
tabela_cy_hp = tabela_auto[(tabela_auto.cylinders == 4) | (tabela_auto.horsepower == 150) ].head(10)
pd.DataFrame(tabela_cy_hp)

In [ ]:
# Exibindo os n primeiros carros de 4 cilindros e 150 cavalos de potência
tabela_cy_hp = tabela_auto[(tabela_auto.cylinders == 4) & (tabela_auto.horsepower == 150) ].head(10)
pd.DataFrame(tabela_cy_hp)

In [ ]:
# Exibindo os n primeiros carros de 4 cilindros e que não tenham 150 cavalos de potência
tabela_cy_hp = tabela_auto[(tabela_auto.cylinders == 8) & (tabela_auto.horsepower != 150) ].head(10)
pd.DataFrame(tabela_cy_hp)

In [ ]:
# Exibindo os n primeiros carros de 4 ou menos cilindros que tenham 90 ou mais cavalos de potência
tabela_cy_hp = tabela_auto[(tabela_auto.cylinders <= 4) & (tabela_auto.horsepower >=90) ].head(10)
pd.DataFrame(tabela_cy_hp)

#### *Exemplo 2: Filtragem boolenana envolvendo string e valores numéricos*

In [ ]:
# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)


# Lendo n linhas do arquivo Automobile
tabela_auto.head(398)

In [ ]:
# Filtramos o dataframe pela coluna origin com valores que iniciam com as letras 'usa' e tem 4 cilindros
tabela_auto[(tabela_auto.origin.str.startswith('usa')) & (tabela_auto.cylinders == 4)]

#### *Exemplo 3: Aplicando Multiplos Filtros*

In [ ]:
import pandas as pd

# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)


# Lendo n linhas do arquivo Automobile
tabela_auto.head(398)

In [ ]:
# Filtramos o dataframe pela coluna origin com valores que iniciam com as letras 'usa' ou 'japan' e tem 4 cilindros
filtro1 = tabela_auto.origin.str.startswith('usa')
filtro2 = tabela_auto.origin.str.startswith('japan')
filtro3 = tabela_auto.cylinders == 4
tabela_pers = tabela_auto[(filtro1 | filtro2) & (filtro3)]
tabela_pers

In [ ]:
# Aplicando a função describe()
tabela_pers.describe()

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.2.4 Agrupamento de Dados Com Group By</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

O <u>Group By</u> do Pandas é uma função que nos ajuda a agrupar e resumir os dados em um DataFrame. Com o Group By, podemos dividir os dados em grupos com base em uma ou mais colunas e realizar operações agregadas em cada grupo. Isso nos permite obter uma visão geral dos dados e explorar os relacionamentos entre as variáveis. É uma ferramenta valiosa para análise de dados complexos.

#### *Exemplo 1: Calculando a media em relação dois grupos*

In [ ]:
import pandas as pd

# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)

# Lendo n linhas do arquivo Automobile
tabela_auto.head(398)

In [ ]:
# Aplicamos o Group By para calcular a média relacionada à origem e número de cilindros
tabela_auto[['cylinders','origin', 'acceleration']].groupby(['cylinders','origin']).mean()

#### *Exemplo 2: Calculando a media, a mediana e o devio padrão em relação dois grupos*

In [ ]:
import pandas as pd

# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)

# Lendo n linhas do arquivo Automobile
tabela_auto.head(5)

In [ ]:
# Aplicamos o Group By para calcular a média, mediana e o desvio padrão relacionados à origem e número de cilindros
tabela_auto[['cylinders','origin', 'acceleration']].groupby(['cylinders','origin']).agg(['mean', 'median', 'std'])

#### *Exemplo 3: Calculando os quartis 25%, 50% e 75%*

O cálculo dos quartis apresenta uma leve modificação em relação às funções 'mean', 'median' e 'std'. Precisaremos utilizar a função rename para uma exibição final mais objetiva.

In [ ]:
import pandas as pd

# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)

# Lendo n linhas do arquivo Automobile
tabela_auto.head(10)

In [ ]:
# Código anterior sem a função rename
tabela_auto[['name', 'origin', 'acceleration']].groupby('origin').agg({'acceleration': [lambda x: x.quantile(0.25), 'median', lambda x: x.quantile(0.75)]})

In [ ]:
# Aplicamos o Group By para calcular os quartis 25%, 50%(mediana) e 75%
tabela_auto[['name', 'origin', 'acceleration']].groupby('origin').agg({'acceleration': [lambda x: x.quantile(0.25), 'median', lambda x: x.quantile(0.75)]}) \
    .rename(columns={'<lambda_0>': 'quartil 25%', 'median': 'quartil 50%', '<lambda_1>': 'quartil 75%'}, level=1)

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.2.5 Mudança de Dados Com a Função replace()</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### *Exemplo 1: Repassando dados numéricos*

In [ ]:
import pandas as pd

# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)

# Lendo n linhas do arquivo Automobile
tabela_auto.head(398)

In [ ]:
# Substituindo os valores 70 na coluna 'model_year' por 1970
tabela_auto['model_year'] = tabela_auto['model_year'].replace(70, 1970)

# Exibindo a nota tabela_auto
tabela_auto

#### *Exemplo 2: Repassando strings*

In [2]:
import pandas as pd

# Importando do arquivo a ser analisado
tabela_auto = pd.read_csv("Automobile.csv")

# Configurar o número máximo de linhas do arquivo 'Automobile,csv' a serem exibidas
pd.set_option('display.max_rows', None)

# Lendo n linhas do arquivo Automobile
tabela_auto.head(5)

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

In [ ]:
# Substituindo os valores 70 na coluna 'model_year' por 1970
tabela_auto['origin'] = tabela_auto['origin'].str.replace('usa', 'EUA')

# Exibindo a nova tabela_auto
tabela_auto

## <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 22px;"><strong>22.3 Métodos e Recursos para Trabalhar com Dados</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

Apresentaremos a seguir alguns dos métodos e recursos para trabalhar com análise de dados. Alguns desses métodos são mais técnicos, mas decidimos incluir um exemplo para cada um deles. Fique à vontade para ignorar aqueles que, a princípio, não parecem ter aplicação prática para você.

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.3.1 Métodos e Recursos para Trabalhar com Dados - Parte 1</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### array

Refere-se à estrutura de dados unidimensional do Pandas chamada "array". É semelhante a uma Series, mas é uma estrutura subjacente sem rótulos de índice associados.

In [1]:
import pandas as pd

data = [10, 20, 30, 40]
arr = pd.array(data)
print(arr)

<IntegerArray>
[10, 20, 30, 40]
Length: 4, dtype: Int64

#### arrays

Essa função é usada para criar um novo objeto "arrays" que encapsula várias Series em uma única estrutura de dados.

In [ ]:
import pandas as pd

s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])

df = pd.DataFrame({'col1': s1, 'col2': s2})
df

#### ArrowDtype

O ArrowDtype é um tipo de dados do Pandas que permite a interoperabilidade com a biblioteca Apache Arrow, que é uma estrutura de dados de alto desempenho para processamento analítico de big data. Ele é usado para representar colunas de dados no Pandas que são armazenadas como objetos Arrow.

In [ ]:
# Instalando o módulo pyarrow
!pip install pyarrow

In [ ]:
import pandas as pd
import pyarrow as pa

# Criando duas colunas com tipo ArrowDtype
data1 = pa.array([1, 2, 3], type=pa.int32())
data2 = pa.array([4.5, 5.5, 6.5], type=pa.float64())
df = pd.DataFrame({'coluna1': data1, 'coluna2': data2})
df

#### bdate_range

A função "bdate_range" é usada para criar um intervalo de datas contendo apenas dias úteis (dias úteis). Ela retorna um objeto do tipo DatetimeIndex que contém as datas dentro de um período especificado.

In [ ]:
import pandas as pd

daterange = pd.bdate_range(start='2023-10-01', end='2023-10-31')
print(daterange)

#### BooleanDtype

O BooleanDtype é um tipo de dados do Pandas que representa valores booleanos (verdadeiro/falso). Ele é usado para armazenar e manipular dados booleanos em uma coluna do DataFrame.

In [ ]:
import pandas as pd

data = {'valores': [True, False, True, False]}
df = pd.DataFrame(data, dtype='boolean')
df

#### Categorical

O Categorical é uma classe do Pandas que representa dados categóricos. Ele é usado para armazenar dados com um número limitado de valores exclusivos, como categorias ou fatores. O Categorical permite economizar memória e também oferece benefícios ao realizar operações específicas em dados categóricos.

In [ ]:
import pandas as pd

data = {'categoria': ['A', 'B', 'A', 'C']}
df = pd.DataFrame(data)
df['categoria'] = pd.Categorical(df['categoria'])
df['categoria']

#### CategoricalDtype

O CategoricalDtype é um tipo de dados do Pandas que define uma coluna de um DataFrame como categórica. Ele especifica que os valores da coluna devem ser interpretados como dados categóricos. É útil ao definir o tipo de uma coluna ao criar ou manipular um DataFrame.

In [ ]:
import pandas as pd

data = {'categoria': ['A', 'B', 'A', 'C']}
df = pd.DataFrame(data, dtype="category")
print(df['categoria'])

#### CategoricalIndex

O CategoricalIndex é um tipo de índice do Pandas que representa um índice baseado em categorias. É semelhante a um índice regular, mas, em vez de ser baseado em valores numéricos ou de texto, é baseado em categorias definidas. É útil ao trabalhar com índices categóricos em um DataFrame.

In [ ]:
import pandas as pd

data = {'coluna': [1, 2, 3]}
df = pd.DataFrame(data)
categories = ['A', 'B', 'C']
df = df.set_index(pd.CategoricalIndex(categories))
df

#### concat

A função "concat" é usada para concatenar (juntar) objetos do Pandas ao longo de um eixo específico. Ela pode ser usada para combinar DataFrames, Series ou painéis em uma única estrutura de dados.

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
result = pd.concat([df1, df2])
result

In [ ]:
pd.DataFrame(df1)

In [ ]:
pd.DataFrame(df2)

#### core

Refere-se ao pacote central do Pandas, que contém as principais estruturas de dados e funcionalidades da biblioteca.

In [ ]:
import pandas as pd
from pandas.core import series

data = [10, 20, 30]
s = series.Series(data)
print(s)

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.3.1 Métodos e Recursos para Trabalhar com Dados - Parte 2</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### crosstab

A função "crosstab" é usada para calcular uma tabela de frequência cruzada a partir de dois ou mais fatores.

In [ ]:
import pandas as pd

data = {'A': ['A', 'B', 'A', 'B'],
        'B': ['X', 'Y', 'Y', 'X'],
        'Valores': [1, 2, 3, 4]}
df = pd.DataFrame(data)
cross_tab = pd.crosstab(df['A'], df['B'], values=df['Valores'], aggfunc='sum')
cross_tab

#### cut

A função "cut" é usada para dividir dados em intervalos (bins) com base em valores numéricos. Ela retorna uma nova coluna categórica indicando a qual intervalo cada valor pertence.

In [ ]:
import pandas as pd

data = {'Valores': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
df = pd.DataFrame(data)
df['Intervalos'] = pd.cut(df['Valores'], bins=[0, 3, 6, 10])
df

#### date_range

A função "date_range" é usada para criar um intervalo de datas. Ela retorna um objeto do tipo DatetimeIndex que contém as datas dentro de um período especificado.

In [ ]:
import pandas as pd

daterange = pd.date_range(start='2021-01-01', end='2021-01-10')
print(daterange)

#### DataFrame

O DataFrame é uma estrutura de dados tabular bidimensional do Pandas, com rótulos de linha e coluna. Ele é semelhante a uma tabela de banco de dados ou uma planilha do Excel, onde os dados são organizados em colunas e linhas. É uma das principais estruturas de dados do Pandas para análise e manipulação de dados.

In [ ]:
import pandas as pd

data = {'Nome': ['Alice', 'Bob', 'Charlie'],
        'Idade': [25, 30, 35]}
df = pd.DataFrame(data)
df

#### DateOffset

O DateOffset é uma classe do Pandas que representa um deslocamento de datas. Ele é usado para adicionar ou subtrair um período específico de datas. O DateOffset pode ser usado para realizar operações de deslocamento de datas, como adicionar um dia, um mês ou um ano a uma data específica.

In [ ]:
import pandas as pd

date = pd.Timestamp('2021-01-01')
new_date = date + pd.DateOffset(days=7)
print(new_date)

#### DatetimeIndex

O DatetimeIndex é um tipo de índice do Pandas usado para representar datas e horários. Ele é criado a partir de uma coluna de datas ou horários e é usado para indexar e organizar os dados temporalmente em um DataFrame.

In [ ]:
import pandas as pd

data = {'Valores': [10, 20, 30, 40]}
dates = pd.date_range(start='2021-01-01', periods=4)
df = pd.DataFrame(data, index=dates)
df

#### DatetimeTZDtype

O DatetimeTZDtype é um tipo de dados do Pandas que representa datas e horários com informações de fuso horário. Ele é usado para armazenar e manipular dados de data e hora com suporte a fusos horários em uma coluna do DataFrame.

In [ ]:
import pandas as pd
import pytz

data = {'Horário': [pd.Timestamp('2021-01-01', tz='UTC'), pd.Timestamp('2021-01-02', tz='Europe/London')]}
df = pd.DataFrame(data)
df['Horário'] = pd.to_datetime(df['Horário'], utc=True).astype('datetime64[ns, UTC]')
df

#### describe_option

A função "describe_option" é usada para exibir uma descrição das opções de configuração do Pandas. Ela fornece informações sobre as configurações disponíveis e seus valores atuais.

In [ ]:
import pandas as pd

pd.describe_option()

#### errors

Módulo do Pandas que contém constantes para especificar o comportamento ao lidar com erros durante operações de análise de dados, como conversão de tipos ou preenchimento de valores ausentes.

In [ ]:
import pandas as pd

data = {'Valores': ['1', '2', 'x']}
df = pd.DataFrame(data)
df['Valores'] = pd.to_numeric(df['Valores'], errors='coerce')
df

#### eval

A função "eval" é usada para avaliar uma expressão de string como uma expressão de código Python válido. Ela permite realizar cálculos ou operações em colunas de um DataFrame de forma eficiente.

In [ ]:
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)
result = df.eval('C = A + B')
result

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.3.1 Métodos e Recursos para Trabalhar com Dados - Parte 3</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### ExcelFile

A classe ExcelFile do Pandas é usada para representar um arquivo Excel. Ela permite ler dados de planilhas de um arquivo Excel existente.

In [ ]:
import pandas as pd

file = pd.ExcelFile('dados1.xlsx') # Caso não exista crie o arquivo dados1 e o salve na pasta deste arquivo
df = file.parse('Planilha1')       # Crie uma planilha de nome Planilha1 no arquivo dados1
df

#### ExcelWriter

A classe ExcelWriter do Pandas é usada para criar e escrever em arquivos Excel. Ela permite criar um arquivo Excel e escrever dados em diferentes planilhas.

In [ ]:
# Cria o arquivo dados2.xlsx na mesma pasta que este arquivo
import pandas as pd

data1 = {'Coluna1': [1, 2, 3],
         'Coluna2': [4, 5, 6]}
df1 = pd.DataFrame(data1)

data2 = {'Coluna1': ['A', 'B', 'C'],
         'Coluna2': ['D', 'E', 'F']}
df2 = pd.DataFrame(data2)

with pd.ExcelWriter('dados2.xlsx') as writer:
    df1.to_excel(writer, sheet_name='Planilha1')
    df2.to_excel(writer, sheet_name='Planilha2')

#### factorize

A função "factorize" é usada para mapear valores únicos em uma coluna para valores numéricos. Ela retorna um array de valores inteiros representando a posição de cada valor único.

In [ ]:
import pandas as pd

data = {'Categoria': ['A', 'B', 'C', 'A', 'B']}
df = pd.DataFrame(data)
labels, levels = pd.factorize(df['Categoria'])
print(labels)

#### Float32Dtype

Float32Dtype é um tipo de dados do Pandas que representa números de ponto flutuante de precisão simples (32 bits). Ele é usado para armazenar e manipular dados numéricos de ponto flutuante com precisão simples.

In [ ]:
import pandas as pd

data = {'Valores': [1.23, 4.56, 7.89]}
df = pd.DataFrame(data, dtype='float32')
df

#### Float64Dtype

Float64Dtype é um tipo de dados do Pandas que representa números de ponto flutuante de dupla precisão (64 bits). Ele é usado para armazenar e manipular dados numéricos de ponto flutuante com alta precisão.

In [ ]:
import pandas as pd

data = {'Valores': [1.23, 4.56, 7.89]}
df = pd.DataFrame(data, dtype='float64')
df

#### from_dummies

A função "from_dummies" é usada para converter uma matriz de variáveis dummy em um DataFrame. Ela transforma as variáveis dummy de volta em suas representações originais.

In [ ]:
import pandas as pd

data = {'A': [1, 0, 1],
        'B': [0, 1, 1]}
df = pd.DataFrame(data)
result

#### get_dummies

A função "get_dummies" é usada para converter variáveis categóricas em variáveis dummy. Ela cria colunas binárias para cada categoria presente nos dados.

In [ ]:
import pandas as pd

data = {'Categoria': ['A', 'B', 'C']}
df = pd.DataFrame(data)
result = pd.get_dummies(df['Categoria'])
result

#### get_option

A função "get_option" é usada para obter o valor atual de uma opção de configuração do Pandas.

In [ ]:
import pandas as pd

value = pd.get_option('display.max_columns')
print(value)

#### Grouper

Grouper é uma classe do Pandas usada para agrupar dados com base em valores em uma ou mais colunas. Ela é útil para operações de agregação e análise de dados agrupados.

In [ ]:
import pandas as pd

data = {'Grupo': ['A', 'A', 'B', 'B'],
        'Valores': [1, 2, 3, 4]}
df = pd.DataFrame(data)
grouped = df.groupby(pd.Grouper(key='Grupo'))
grouped.sum()

#### HDFStore

HDFStore é uma classe do Pandas usada para armazenar e recuperar dados em formato HDF5 (Hierarchical Data Format version 5). Ele permite salvar grandes quantidades de dados de forma eficiente e oferece uma maneira conveniente de trabalhar com conjuntos de dados grandes.

In [ ]:
import pandas as pd

data = {'Valores': [1, 2, 3, 4]}
df = pd.DataFrame(data)

with pd.HDFStore('dados.h5') as store:    # Cria o arquivo dados.h5 na mesma pasta que este arquivo
    store['dataframe'] = df
    retrieved_df = store['dataframe']
    retrieved_df

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.3.1 Métodos e Recursos para Trabalhar com Dados - Parte 4</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### Index

Index é uma estrutura de dados do Pandas usada para representar um índice unidimensional. Ele é usado para rotular e indexar dados em uma Series ou DataFrame.

In [ ]:
import pandas as pd

data = {'Valores': [10, 20, 30]}
index = pd.Index(['A', 'B', 'C'])
df = pd.DataFrame(data, index=index)
df

#### IndexSlice

IndexSlice é uma classe do Pandas usada para realizar fatiamento avançado em objetos que possuem MultiIndex. Ela permite selecionar e fatiar dados com base em valores específicos nas dimensões do índice.

In [ ]:
import pandas as pd

index = pd.MultiIndex.from_product([['A', 'B'], ['X', 'Y']])
data = pd.DataFrame({'Valores': [1, 2, 3, 4]}, index=index)
idx = pd.IndexSlice
sliced_data = data.loc[idx[:, 'Y'], :]
sliced_data

#### infer_freq

A função "infer_freq" é usada para inferir a frequência predominante de uma série temporal. Ela retorna uma string representando a frequência.

In [ ]:
import pandas as pd

index = pd.date_range(start='2021-01-01', end='2021-01-10', freq='D')
print(pd.infer_freq(index))

#### Int8Dtype

Int8Dtype é um tipo de dados do Pandas que representa números inteiros com 8 bits. Ele é usado para armazenar e manipular dados numéricos inteiros com uma faixa menor de valores possíveis.

In [ ]:
import pandas as pd

data = {'Valores': [10, 20, 30]}
df = pd.DataFrame(data, dtype='int8')
df

#### Int16Dtype, Int32Dtype, Int64Dtype

Esses são tipos de dados do Pandas que representam números inteiros com diferentes tamanhos de bits (16 bits, 32 bits, 64 bits). Eles são usados para armazenar e manipular dados numéricos inteiros com diferentes faixas de valores.

In [ ]:
import pandas as pd

data = {'Valores': [10, 20, 30]}
df = pd.DataFrame(data, dtype='int32')
df

#### Interval

O Interval é uma classe do Pandas usada para representar um intervalo de valores. Ele é útil para segmentar e agrupar dados com base em intervalos específicos.

In [ ]:
import pandas as pd

interval = pd.Interval(0, 5)
print(interval)

#### interval_range

A função "interval_range" é usada para criar um intervalo de valores em uma sequência específica. Ela retorna um objeto do tipo IntervalIndex.

In [ ]:
import pandas as pd

interval = pd.interval_range(start=0, end=10, freq=2)
print(interval)

IntervalDtype: O IntervalDtype é um tipo de dados do Pandas que define uma coluna de um DataFrame como um intervalo. Ele especifica que os valores da coluna devem ser interpretados como intervalos.

In [ ]:
import pandas as pd

data = {'Intervalo': [pd.Interval(0, 5), pd.Interval(5, 10)]}
df = pd.DataFrame(data, dtype='interval')
print(df['Intervalo'])

IntervalIndex: O IntervalIndex é um tipo de índice do Pandas usado para representar um índice baseado em intervalos. Ele é semelhante a um índice regular, mas em vez de rótulos de linha individuais, ele possui rótulos de linha representando intervalos de valores.

In [ ]:
import pandas as pd

intervals = pd.IntervalIndex.from_tuples([(0, 5), (5, 10), (10, 15)])
data = pd.Series([10, 20, 30], index=intervals)
print(data)

#### isna e isnull

As funções "isna" e "isnull" são usadas para verificar se os valores em uma estrutura de dados do Pandas são valores ausentes ou nulos ("pd.NA", "None" ou "float('nan')").

In [ ]:
import pandas as pd

data = {'Valores': [1, 2, pd.NA]}
df = pd.DataFrame(data)
print(df['Valores'].isna())

#### json_normalize

A função "json_normalize" é usada para normalizar (flatten) dados JSON em uma estrutura tabular. Ela transforma dados JSON aninhados em uma tabela relacional.

In [ ]:
import pandas as pd
import json

data = '''
[
    {
        "name": "John",
        "age": 30,
        "city": "New York",
        "skills": ["Python", "SQL"]
    },
    {
        "name": "Alice",
        "age": 25,
        "city": "San Francisco",
        "skills": ["JavaScript", "HTML"]
    }
]
'''

json_data = json.loads(data)
df = pd.json_normalize(json_data)
df

#### lreshape

A função "lreshape" é usada para transformar um DataFrame largo (wide) em um formato mais longo (long). Ela converte colunas em múltiplas colunas de variáveis.

In [ ]:
import pandas as pd

data = {
    'id': [1, 2],
    'A_foo': [10, 20],
    'B_foo': [30, 40],
    'A_bar': [50, 60],
    'B_bar': [70, 80]
}

df = pd.DataFrame(data)
df = pd.lreshape(df, {'foo': ['A_foo', 'B_foo'], 'bar': ['A_bar', 'B_bar']})
df

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.3.1 Métodos e Recursos para Trabalhar com Dados - Parte 5</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### melt

A função "melt" é usada para transformar um DataFrame de formato largo (wide) em um formato mais longo (long). Ela derrete as colunas em uma única coluna de variáveis.

In [ ]:
import pandas as pd

data = {
    'id': [1, 2],
    'Name': ['John', 'Alice'],
    'Maths': [90, 85],
    'Physics': [80, 75]
}

df = pd.DataFrame(data)
df = pd.melt(df, id_vars=['id', 'Name'], var_name='Subject', value_name='Score')
df

#### merge

A função "merge" é usada para combinar dois ou mais DataFrames com base em colunas comuns. Ela realiza uma junção (join) dos DataFrames usando as colunas especificadas.

In [ ]:
import pandas as pd

data1 = {'id': [1, 2, 3], 'Name': ['John', 'Alice', 'Bob']}
data2 = {'id': [1, 2, 4], 'Age': [30, 25, 35]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df = pd.merge(df1, df2, on='id')
df

#### merge_asof

A função "merge_asof" é usada para realizar uma junção (join) entre dois DataFrames usando a correspondência mais próxima dos valores nas colunas-chave. Ela realiza a junção com base em uma comparação por intervalo.

In [ ]:
import pandas as pd

data1 = {'time': [1, 3, 6, 9, 12], 'value': [10, 20, 30, 40, 50]}
data2 = {'time': [1, 6, 7, 9], 'result': ['A', 'B', 'C', 'D']} # A -> 1-3, B -> 3-6, C -> 6-9, D -> 9-12
                                                                                      
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df = pd.merge_asof(df1, df2, on='time')
df

#### merge_ordered

A função "merge_ordered" é usada para realizar uma junção (join) ordenada entre dois DataFrames. Ela realiza a junção mantendo a ordem dos valores nas colunas-chave.

In [ ]:
import pandas as pd

data1 = {'date': ['2021-01-01', '2021-01-03', '2021-01-05'], 'value': [10, 20, 30]}
data2 = {'date': ['2021-01-02', '2021-01-03', '2021-01-04'], 'result': ['A', 'B', 'C']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df = pd.merge_ordered(df1, df2, on='date')
df

#### MultiIndex

O MultiIndex é uma estrutura de dados do Pandas que permite a criação de índices hierárquicos ou multidimensionais. Ele é usado quando você precisa rotular e organizar dados com mais de uma dimensão.

In [ ]:
import pandas as pd

data = {'Valores': [10, 20, 30, 40]}
index = pd.MultiIndex.from_tuples([('A', 1), ('A', 2), ('B', 1), ('B', 2)])
df = pd.DataFrame(data, index=index)
df

#### NA

NA é um valor especial do Pandas usado para representar valores ausentes ou nulos em uma estrutura de dados. Ele é usado para indicar a falta de um valor válido.

In [ ]:
import pandas as pd
import numpy as np

data = {'Valores': [1, 2, np.nan, 4]}
df = pd.DataFrame(data)
df

#### NaT

NaT é um valor especial do Pandas usado para representar valores ausentes ou nulos em uma coluna de data e hora. Ele é usado para indicar a falta de um valor válido em dados de data e hora.

In [ ]:
import pandas as pd

data = {'Datas': [pd.Timestamp('2021-01-01'), pd.NaT, pd.Timestamp('2021-01-03')]}
df = pd.DataFrame(data)
df

#### NamedAgg

NamedAgg é uma função do Pandas usada para criar colunas agregadas em um DataFrame usando agregações nomeadas. Ele permite que você especifique o nome da coluna agregada e a função de agregação a ser aplicada.

In [ ]:
import pandas as pd

data = {'Grupo': ['A', 'A', 'B', 'B'],
        'Valores': [1, 2, 3, 4]}
df = pd.DataFrame(data)
aggregated = df.groupby('Grupo').agg(Soma=('Valores', 'sum'), Média=('Valores', 'mean'))
aggregated

#### notna

A função "notna" é usada para verificar se os valores em uma estrutura de dados do Pandas não são valores ausentes (NaN).

In [ ]:
import pandas as pd

data = {'Coluna1': [1, 2, None, 4],
        'Coluna2': [5, None, 7, 8]}

df = pd.DataFrame(data)

# Verificar quais valores da coluna 'Coluna1' são não nulos
is_not_null = df['Coluna1'].notna()

# Filtrar o DataFrame mantendo apenas as linhas com valores não nulos na coluna 'Coluna1'
df_filtered = df[is_not_null]

# Imprimir o DataFrame filtrado
df_filtered

#### notnull

A função "notnull" é usada para verificar se os valores em uma estrutura de dados do Pandas não são valores nulos.

In [ ]:
import pandas as pd

data = {'Valores': [1, 2, None, 3, None]}
df = pd.DataFrame(data)
df['Valores'].notnull()

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.3.1 Métodos e Recursos para Trabalhar com Dados - Parte 6</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### offsets

"offsets" é um módulo do Pandas que fornece classes para representar deslocamentos (offsets) de datas e horários. Ele oferece funcionalidades relacionadas a deslocamento, como deslocamento de dias úteis, semanas, meses, etc.

In [ ]:
import pandas as pd

offset = pd.offsets.BDay(3)
date = pd.Timestamp('2021-01-01')
new_date = date + offset
print(new_date)

#### option_context

A função "option_context" é usada para definir temporariamente opções de configuração do Pandas dentro de um contexto específico. Ela permite alterar opções de configuração para um bloco de código específico.

In [ ]:
import pandas as pd

with pd.option_context('display.max_columns', 10):
    df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
    
df

#### options

A função "options" é usada para obter ou definir opções de configuração do Pandas. Ela permite configurar várias opções de comportamento do Pandas.

In [ ]:
import pandas as pd

pd.options.display.max_columns = 10
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df

#### pandas

"pandas" é o pacote Python que fornece estruturas de dados e ferramentas para análise de dados. Ele oferece as principais estruturas de dados, como DataFrame e Series, juntamente com várias funções para manipulação, análise e visualização de dados.

In [ ]:
import pandas as pd

data = {'Col1': [1, 2, 3], 'Col2': ['A', 'B', 'C']}
df = pd.DataFrame(data)
df

In [ ]:
#### Perid

O Period é uma classe do Pandas usada para representar um período de tempo. Ele é usado para lidar com dados temporais discretos, como um mês, um trimestre ou um ano.

In [ ]:
import pandas as pd

period1 = pd.Period('2021-01')
period1

In [ ]:
import pandas as pd

period2 = pd.Period('2021-01-04')
period2

In [ ]:
import pandas as pd

data = {'Período': [pd.Period('2021-01'), pd.Period('2021-02')]}
df = pd.DataFrame(data)
df

#### PeriodIndex

O PeriodIndex é um tipo de índice do Pandas usado para representar um índice baseado em períodos. Ele é semelhante a um índice regular, mas em vez de rótulos de linha individuais, ele possui rótulos de linha representando períodos de tempo.

In [ ]:
import pandas as pd

periods = pd.PeriodIndex(['2021-01', '2021-02', '2021-03'], freq='M')
data = pd.Series([10, 20, 30], index=periods)
print(data)

#### period_range

A função "period_range" é usada para criar um intervalo de períodos com uma frequência especificada. Ela retorna um objeto do tipo PeriodIndex que contém os períodos dentro do intervalo.

In [ ]:
import pandas as pd

pr = pd.period_range(start='2021-01', end='2021-12', freq='M')
pr

#### pivot

A função "pivot" é usada para reorganizar um DataFrame de formato longo (long) para formato largo (wide), usando valores em uma coluna para criar novas colunas.

In [ ]:
import pandas as pd

data = {'id': [1, 2, 3, 4], 'category': ['A', 'B', 'A', 'B'], 'value': [10, 20, 30, 10]}
df = pd.DataFrame(data)
df = df.pivot(index='id', columns='category', values='value')
df

#### pivot_table

A função "pivot_table" é usada para criar uma tabela dinâmica (pivot table) a partir de um DataFrame. Ela permite resumir e agregar os dados com base em valores de colunas específicas.

In [ ]:
import pandas as pd

data = {'category': ['A', 'A', 'B', 'B'],
        'value1': [10, 20, 30, 40],
        'value2': [50, 60, 70, 80]}
df = pd.DataFrame(data)
table = pd.pivot_table(df, values=['value1', 'value2'], index='category', aggfunc='sum')
table

#### plotting

"plotting" é um submódulo do Pandas que oferece recursos de plotagem de dados. Ele permite criar gráficos e visualizações a partir de dados em um DataFrame ou Series.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

data = {'x': [1, 2, 3, 4, 5], 'y': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df.plot(x='x', y='y')
plt.show()

#### qcut

A função "qcut" é usada para discretizar (categorizar) valores em bins com base nos quantis. Ela divide os valores em intervalos de tamanhos aproximadamente iguais, com base nas quantidades especificadas.

In [ ]:
import pandas as pd

data = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
df = pd.DataFrame(data, columns=['Values'])
df['Bins'] = pd.qcut(df['Values'], q=3)
df

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.3.1 Métodos e Recursos para Trabalhar com Dados - Parte 7</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### read_clipboard

A função "read_clipboard" é usada para ler dados a partir do conteúdo presente na área de transferência (clipboard). Ela permite copiar dados de uma fonte externa e colar diretamente no ambiente Python para serem lidos pelo Pandas.

In [ ]:
import pandas as pd

df = pd.read_clipboard() #Copie algo e depois execute esta célula.
print(df)

#### read_csv

A função "read_csv" é usada para ler dados de um arquivo CSV (comma-separated values). Ela permite carregar dados tabulares a partir de um arquivo CSV em um DataFrame do Pandas.

In [ ]:
import pandas as pd

df = pd.read_csv('Salary.csv')
df

#### read_excel

A função "read_excel" é usada para ler dados de um arquivo Excel. Ela permite carregar dados de uma planilha específica em um arquivo Excel em um DataFrame do Pandas.

In [ ]:
import pandas as pd

df = pd.read_excel('dados1.xlsx', sheet_name='Planilha1')
df

read_feather: A função "read_feather" é usada para ler dados armazenados em formato Feather. O Feather é um formato de armazenamento rápido e leve para dados tabulares.

In [ ]:
# Ignore caso ja tenha instalado o pyarrow
!pip install pyarrow

In [ ]:
import pandas as pd

# Crie um DataFrame de exemplo
data = {'coluna1': [1, 2, 3, 4],
        'coluna2': ['A', 'B', 'C', 'D']}
df = pd.DataFrame(data)

# Salve o DataFrame em um arquivo Feather
df.to_feather('dados.feather')

In [ ]:
import pandas as pd

df = pd.read_feather('dados.feather')
df

#### read_fwf

A função "read_fwf" é usada para ler dados de um arquivo de formato fixo (fixed-width format). Ela permite ler dados em que as colunas têm largura fixa, sem separadores.

In [ ]:
import pandas as pd

df = pd.read_fwf('teste.txt') # Caso o arquivo teste.txt não exita, crie-o, escreva algo e execute esta célula.
df

#### read_gbq

A função "read_gbq" é usada para ler dados de uma tabela do BigQuery. Ela permite consultar e carregar dados de uma tabela do BigQuery em um DataFrame do Pandas.

*O código a seguir não possui um arquivo disponível. Portanto, não podemos garantir seu funcionamento correto. É possível que seja necessário instalar algum pacote ou biblioteca adicional para que o código seja executado com sucesso.*

In [ ]:
import pandas as pd

query = 'SELECT * FROM tabela'
df = pd.read_gbq(query, project_id='projeto')
df

#### read_hdf

A função "read_hdf" é usada para ler dados de um arquivo HDF5 (Hierarchical Data Format). Ela permite carregar dados armazenados em um arquivo HDF5 em um DataFrame do Pandas.

In [ ]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': ['foo', 'bar', 'baz']}
df = pd.DataFrame(data)

# Salvar o DataFrame em um arquivo HDF5
df.to_hdf('dados.h5', key='data', mode='w')

In [ ]:
import pandas as pd

# Ler o DataFrame do arquivo HDF5
df = pd.read_hdf('dados.h5', key='data')
df

#### read_html

A função "read_html" é usada para ler tabelas de uma página HTML. Ela permite extrair tabelas HTML de uma página da web e convertê-las em DataFrames do Pandas.

In [ ]:
# Compile caso a próxima célula apresente tente instalar estes módulos
!pip install html5lib
!pip install lxml

In [ ]:
import pandas as pd

url = 'https://www.w3schools.com/html/html_tables.asp'  # Substitua pela URL desejada

dfs = pd.read_html(url)
df = dfs[0]  # Supondo que a tabela desejada seja a primeira na página
df

#### read_json

A função "read_json" é usada para ler dados de um arquivo JSON. Ela permite carregar dados em formato JSON em um DataFrame do Pandas.

In [ ]:
import pandas as pd

df = pd.read_json('countries-table.json')
df

In [ ]:
import pandas as pd

# Configurar o número máximo de linhas (None representa um valor não especificado)
pd.set_option('display.max_rows', None)

# Seu código para carregar e exibir o DataFrame aqui
import pandas as pd

df = pd.read_json('countries-table.json')
df

#### read_orc

A função "read_orc" é usada para ler dados armazenados em formato ORC (Optimized Row Columnar). O formato ORC é um formato de armazenamento eficiente para dados tabulares.

In [ ]:
# Instalação extra de módulo necessário
!pip install fastparquet

In [ ]:
import pandas as pd
import fastparquet

# Dados de exemplo
data = {'A': [1, 2, 3], 'B': ['foo', 'bar', 'baz']}
df = pd.DataFrame(data)

# Escrever o DataFrame em um arquivo ORC
fastparquet.write('dados.orc', df)

In [ ]:
import pandas as pd

df = pd.read_parquet('dados.orc', engine='fastparquet')
df

#### read_parquet

A função "read_parquet" é usada para ler dados armazenados em formato Parquet. O Parquet é um formato de armazenamento eficiente para dados tabulares, otimizado para leitura rápida.

In [ ]:
import pandas as pd

# Dados de exemplo
data = {'A': [1, 2, 3], 'B': ['foo', 'bar', 'baz']}
df = pd.DataFrame(data)

# Salvar o DataFrame em um arquivo Parquet
df.to_parquet('dados.parquet')

In [ ]:
import pandas as pd

df = pd.read_parquet('dados.parquet')
df

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.3.1 Métodos e Recursos para Trabalhar com Dados - Parte 8</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### read_pickle

A função "read_pickle" é usada para ler um objeto serializado em formato pickle. Ela permite carregar um objeto previamente serializado em um DataFrame do Pandas.

In [ ]:
import pandas as pd

# Dados de exemplo
data = {'A': [1, 2, 3], 'B': ['foo', 'bar', 'baz']}
df = pd.DataFrame(data)

# Salvar o DataFrame em um arquivo pickle
df.to_pickle('dados.pickle')

In [ ]:
import pandas as pd

df = pd.read_pickle('dados.pickle')
df

#### read_sas

A função "read_sas" é usada para ler dados de um arquivo SAS. Ela permite carregar dados de um arquivo SAS em um DataFrame do Pandas.

*O código a seguir não possui um arquivo disponível. Portanto, não podemos garantir seu funcionamento correto. É possível que seja necessário instalar algum pacote ou biblioteca adicional para que o código seja executado com sucesso.*

In [ ]:
import pandas as pd

df = pd.read_sas('dados.sas7bdat')
df

#### read_spss

A função "read_spss" é usada para ler dados de um arquivo SPSS. Ela permite carregar dados de um arquivo SPSS em um DataFrame do Pandas.

In [ ]:
import pandas as pd

df = pd.read_spss('dados.sav')
df

#### read_sql

A função "read_sql" é usada para executar uma consulta SQL e ler os resultados em um DataFrame do Pandas. Ela permite consultar bancos de dados relacionais e carregar os resultados em um DataFrame.

In [ ]:
import pandas as pd
import sqlite3

# Definir os dados de exemplo
data = {'coluna1': [1, 2, 3], 'coluna2': ['foo', 'bar', 'baz']}
df = pd.DataFrame(data)

# Escrever o DataFrame no arquivo de banco de dados SQLite usando o contexto with
with sqlite3.connect('database.db') as conn:
    df.to_sql('tabela', conn, if_exists='replace', index=False)

In [ ]:
# Ler os dados do arquivo de banco de dados SQLite
with sqlite3.connect('database.db') as conn:
    query = 'SELECT * FROM tabela'
    df = pd.read_sql(query, conn)
    
df

#### read_sql_query

A função "read_sql_query" é usada para executar uma consulta SQL e ler os resultados em um DataFrame do Pandas. Ela permite consultar bancos de dados relacionais e carregar os resultados em um DataFrame.

In [ ]:
import pandas as pd
import sqlite3

# Criar um DataFrame de exemplo
data = {'Coluna1': [1, 2, 3], 'Coluna2': ['foo', 'bar', 'baz']}
df = pd.DataFrame(data)

# Inserir o DataFrame no banco de dados como uma tabela chamada "tabela"
with sqlite3.connect('database.db') as conn:
    df.to_sql('tabela1', conn)

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('database.db')
query = 'SELECT * FROM tabela'
df = pd.read_sql_query(query, conn)
df

#### read_stata

A função "read_stata" é usada para ler dados de um arquivo Stata. Ela permite carregar dados de um arquivo Stata em um DataFrame do Pandas.

*O código a seguir não possui um arquivo disponível. Portanto, não podemos garantir seu funcionamento correto. É possível que seja necessário instalar algum pacote ou biblioteca adicional para que o código seja executado com sucesso.*

In [ ]:
import pandas as pd

df = pd.read_stata('dados.dta')
df

#### read_table

A função "read_table" é usada para ler dados de um arquivo de formato tabular. Ela permite ler dados de um arquivo em formato tabular e carregá-los em um DataFrame do Pandas.

In [ ]:
import pandas as pd

df = pd.read_table('teste.txt')
df

A função "read_xml" é usada para ler dados de um arquivo XML. Ela permite carregar dados de um arquivo XML em um DataFrame do Pandas.

In [ ]:
import pandas as pd

df = pd.read_xml('dados.xml') 
df

#### reset_option

reset_option: A função "reset_option" é usada para redefinir uma opção de configuração do Pandas para o seu valor padrão. Ela permite restaurar uma opção de configuração modificada para o valor original.

In [ ]:
import pandas as pd

pd.reset_option('display.max_columns')

#### Series

Series é uma estrutura de dados unidimensional do Pandas, semelhante a uma coluna em uma planilha ou uma única variável. Ela é usada para armazenar e manipular dados unidimensionais com rótulos de índice.

In [ ]:
import pandas as pd

data = [10, 20, 30, 40]
s = pd.Series(data)
s

#### set_eng_float_format

A função "set_eng_float_format" é usada para definir o formato de exibição para números de ponto flutuante no estilo de notação científica. Ela permite configurar o formato de exibição para números muito grandes ou pequenos.

In [ ]:
import pandas as pd

# Definir o formato de exibição de números de ponto flutuante em formato de notação científica com 2 dígitos significativos
pd.set_eng_float_format(accuracy=2)

# Exemplo de DataFrame com números de ponto flutuante
data = {'A': [0.00000123, 123456.789, 0.123456789]}
df = pd.DataFrame(data)

# Imprimir o DataFrame com o formato de exibição definido
df

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.3.1 Métodos e Recursos para Trabalhar com Dados - Parte 9</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### set_option

A função "set_option" é usada para definir opções de configuração do Pandas. Ela permite configurar várias opções de comportamento do Pandas.

In [ ]:
import pandas as pd

opt = pd.set_option('display.max_columns', 10) #Veja um uso na função read_json
print(opt)

#### show_versions

show_versions: A função "show_versions" é usada para exibir informações sobre as versões dos pacotes instalados no ambiente Python, incluindo o Pandas.

In [ ]:
import pandas as pd

pd.show_versions()

In [ ]:
# Comando para atualizar a versão pandas caso necessário.
!pip install --upgrade pandas

Caso aparece alguma mensagem de erro, após a atualização, tente usar o comando "pip install --upgrade pandas" no <u>Anaconda Prompt</u>.

#### SparseDtype

O SparseDtype é um tipo de dados do Pandas que representa uma versão esparça (ou seja, com valores ausentes) de outro tipo de dados. Ele é usado para economizar espaço em memória ao armazenar dados com muitos valores ausentes.

In [ ]:
import pandas as pd

data = {'Valores': pd.arrays.SparseArray([1, None, None, 4], dtype=float)}
df = pd.DataFrame(data)
print(df['Valores'])

#### StringDtype

O StringDtype é um tipo de dados do Pandas que representa dados de texto. Ele é usado para armazenar e manipular dados de texto em uma coluna do DataFrame.

In [ ]:
import pandas as pd

data = {'Nomes': ['Alice', 'Bob', 'Charlie']}
df = pd.DataFrame(data, dtype='string')
print(df['Nomes'])

#### test

A função "test" é usada para executar os testes de unidade internos do Pandas. Ela verifica a integridade e a corretude das funcionalidades do Pandas.

In [ ]:
# Módulo necessário
!pip install hypothesis

In [ ]:
import pandas as pd

pd.test()

#### testing

O módulo "testing" do Pandas fornece classes e funções para suporte a testes. Ele é usado internamente para testar o próprio Pandas e pode ser usado para testar código personalizado que utiliza o Pandas.

In [ ]:
import pandas as pd
from pandas import testing

# Exemplo de uso do módulo de teste do Pandas
data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]}
df = pd.DataFrame(data)
testing.assert_frame_equal(df, df)

*A saída para esse código seria a ausência de qualquer resultado ou mensagem. Se não houver nenhuma falha no teste, isso significa que o DataFrame df é igual a ele mesmo, conforme verificado pelo método assert_frame_equal do módulo de teste do pandas.*

#### Timedelta

O Timedelta é uma classe do Pandas usada para representar uma diferença ou duração de tempo. Ele é usado para realizar cálculos e operações com dados de tempo.

In [ ]:
import pandas as pd

delta = pd.Timedelta(days=7, hours=3, minutes=30)
print(delta)

#### TimedeltaIndex

O TimedeltaIndex é um tipo de índice do Pandas usado para representar um índice baseado em diferenças ou durações de tempo. Ele é semelhante a um índice regular, mas em vez de rótulos de linha individuais, ele possui rótulos de linha representando durações de tempo.

In [ ]:
import pandas as pd

deltas = pd.timedelta_range(start='1 day', periods=3)
data = pd.Series([10, 20, 30], index=deltas)
print(data)

#### timedelta_rang

A função "timedelta_range" é usada para criar um intervalo de valores de tempo com uma frequência especificada. Ela retorna uma sequência de valores timedelta.

In [ ]:
import pandas as pd

rng = pd.timedelta_range(start='1D', end='5D', freq='1D')
print(rng)

#### Timestamp

O Timestamp é uma classe do Pandas usada para representar uma única data e hora. Ele é usado para manipular dados de data e hora em nível de ponto específico no tempo.

In [ ]:
import pandas as pd

ts = pd.Timestamp('2021-01-01 12:00:00')
print(ts)

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong>22.3.1 Métodos e Recursos para Trabalhar com Dados - Parte 10</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### to_datetime

to_datetime: A função "to_datetime" é usada para converter uma coluna em um DataFrame em valores do tipo datetime. Ela permite converter uma coluna que representa datas ou horários em um formato apropriado para cálculos e manipulações.

In [ ]:
import pandas as pd

data = {'date': ['2021-01-01', '2021-01-02', '2021-01-03']}
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'])
df

#### to_numeric

A função "to_numeric" é usada para converter uma coluna em um DataFrame em valores numéricos. Ela permite converter uma coluna que contém valores numéricos armazenados como strings em valores numéricos reais.

In [ ]:
import pandas as pd

data = {'col1': ['1', '2', '3']}
df = pd.DataFrame(data)
df['col1'] = pd.to_numeric(df['col1'])
df

#### to_pickle

A função "to_pickle" é usada para salvar um objeto do Pandas em formato pickle. Ela permite salvar um DataFrame, uma Series ou qualquer outro objeto do Pandas em um arquivo pickle para uso posterior.

In [ ]:
import pandas as pd

data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]}
df = pd.DataFrame(data)
df.to_pickle('dados.pickle')

#### to_timedelta

A função "to_timedelta" é usada para converter uma coluna em um DataFrame em valores do tipo timedelta. Ela permite converter uma coluna que representa durações ou intervalos de tempo em um formato apropriado para cálculos e manipulações.

In [ ]:
import pandas as pd

data = {'duration': ['1 days', '2 days', '3 days']}
df = pd.DataFrame(data)
df['duration'] = pd.to_timedelta(df['duration'])
df

#### tseries

O módulo "tseries" do Pandas fornece classes e funções para manipulação de dados de séries temporais. Ele oferece recursos avançados para análise e manipulação de dados com base em datas e horários.

In [ ]:
import pandas as pd

ts = pd.Timestamp('2021-01-01')
print(ts.year)

#### UInt16Dtype, UInt32Dtype, UInt64Dtype

Esses são tipos de dados do Pandas que representam números inteiros não assinados com diferentes tamanhos de bits (16 bits, 32 bits, 64 bits). Eles são usados para armazenar e manipular dados numéricos inteiros não assinados.

In [ ]:
import pandas as pd

data = {'Valores': [10, 20, 30]}
df = pd.DataFrame(data, dtype='UInt32')
df

#### UInt8Dtype

UInt8Dtype é um tipo de dados do Pandas que representa números inteiros não assinados com 8 bits. Ele é usado para armazenar e manipular dados numéricos inteiros não assinados com uma faixa menor de valores possíveis.

In [ ]:
import pandas as pd

data = {'Valores': [10, 20, 30]}
df = pd.DataFrame(data, dtype='UInt8')
df

#### unique

A função "unique" é usada para obter os valores únicos em uma coluna de um DataFrame ou em uma Series. Ela retorna um array contendo os valores únicos presentes na coluna ou Series.

In [ ]:
import pandas as pd

data = {'col1': [1, 2, 3, 1, 2, 3]}
df = pd.DataFrame(data)
unique_values = df['col1'].unique()
print(unique_values)

#### value_counts

A função "value_counts" é usada para contar a frequência de valores únicos em uma coluna de um DataFrame ou em uma Series. Ela retorna uma série que contém os valores únicos como índice e suas contagens correspondentes como valores.

In [ ]:
import pandas as pd

data = {'col1': ['A', 'A', 'B', 'B', 'B']}
df = pd.DataFrame(data)
value_counts = df['col1'].value_counts()
value_counts